<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>DigiBank</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>pdf.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>com.adobe.pdf</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>image.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>public.tiff</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>image.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>public.camera-raw-image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.camera-raw-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>image.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>com.microsoft.bmp</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bmp</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>image.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>com.compuserve.gif</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>image.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>com.microsoft.ico</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.ico</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>image.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>public.jpeg</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>image.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>com.apple.pict</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.pict</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>image.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>public.png</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>image.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>com.apple.quicktime-image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.quicktime-image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>PVDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>rtf.png</string>
			<key>CFBundleTypeName</key>
			<string>RTF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.rtf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>rtf.png</string>
			<key>CFBundleTypeName</key>
			<string>NSRTFDPboardType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.rtfd</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>rtf.png</string>
			<key>CFBundleTypeName</key>
			<string>OpenDocument Text document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.oasis-open.opendocument.text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>rtf.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>openoffice</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.oasis-open.opendocument.text-template</string>
				<string>org.openoffice.text</string>
				<string>org.openoffice.text-template</string>
				<string>public.plain-text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>rtf.png</string>
			<key>CFBundleTypeName</key>
			<string>Apple SimpleText document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.traditional-mac-plain-text</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>html.png</string>
			<key>CFBundleTypeName</key>
			<string>Apple HTML document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>html.png</string>
			<key>CFBundleTypeName</key>
			<string>Apple Web archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.webarchive</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>KeyDocument.png</string>
			<key>CFBundleTypeName</key>
			<string>BGDocumentTypeShow</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.keynote.key</string>
				<string>com.apple.iWork.Keynote.key</string>
			</array>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>KeyTheme.png</string>
			<key>CFBundleTypeName</key>
			<string>BGDocumentTypeTheme</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.keynote.kth</string>
				<string>com.apple.iWork.Keynote.kth</string>
			</array>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ppt.png</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.openxmlformats-officedocument.presentationml.presentation</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint presentation</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.presentationml.presentation</string>
			</array>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ppt.png</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.ms-powerpoint</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint 97 - 2004 presentation</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.powerpoint.ppt</string>
			</array>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ppt.png</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.openxmlformats-officedocument.presentationml.slideshow</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint slide show</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.presentationml.slideshow</string>
			</array>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array/>
			<key>CFBundleTypeIconFile</key>
			<string>ppt.png</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft PowerPoint 97 - 2004 slide show</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.powerpoint.pps</string>
			</array>
			<key>NSDocumentClass</key>
			<string>BGDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pages</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Pages_Doc.png</string>
			<key>CFBundleTypeName</key>
			<string>SLDocumentTypeNativePublication</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iwork.pages.pages</string>
				<string>com.apple.pages.pages</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pages</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Pages_Template.png</string>
			<key>CFBundleTypeName</key>
			<string>SLDocumentTypeNativePublication</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iwork.pages.template</string>
				<string>com.apple.pages.template</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>docx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>word.png</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.docx</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
				<string>org.openxmlformats.wordprocessingml.template</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>doc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>word.png</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word 97 - 2004 document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.doc</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dotx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>word.png</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word template</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.dotx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dot</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>word.png</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Word 97 - 2004 template</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.dot</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SLPublication</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>numbers</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>NumbersDocument.png</string>
			<key>CFBundleTypeName</key>
			<string>LSDocumentTypeNativeDocument</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iwork.numbers.numbers</string>
				<string>com.apple.numbers.numbers</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>NumbersTemplate.png</string>
			<key>CFBundleTypeName</key>
			<string>LSDocumentTypeNativeDocument</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.iwork.numbers.template</string>
				<string>com.apple.numbers.template</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xlsx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>excel.png</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel workbook</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xls</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>excel.png</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel 97-2004 workbook</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.excel.xls</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xltx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>excel.png</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel template</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.openxmlformats.spreadsheetml.template</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xlt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>excel.png</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Excel 97-2004 template</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.excel.xlt</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>docas</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docas.png</string>
			<key>CFBundleTypeName</key>
			<string>9squareworkshop Docas File Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.9squareworkshop.docas</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>LSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>video.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Movie</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.quicktime-movie</string>
				<string>com.apple.protected-mpeg-4-audio</string>
				<string>public.mpeg</string>
				<string>public.mpeg-4</string>
				<string>public.mp3</string>
				<string>public.mpeg-4-audio</string>
				<string>public.audio</string>
				<string>public.video</string>
				<string>public.movie</string>
				<string>public.audiovisual-content</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.moxtra.moxtra</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moxtra-sso-login</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>boxsdk-ju7oiq3sx9r7ruz9416pm04to382wk7p</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moxtra-edit-doc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moxtra-today</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-jj6z894b38x0tma</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb400731083336840</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moxtra</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>moxtra-share</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>You can do Airdrop sharing, access Bluetooth headset, keyboard...etc.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Your Meeting schedule will be saved to your Calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>You can use your camera to take photos and videos, and share them with other team members in your group chat.</string>
	<key>NSContactsUsageDescription</key>
	<string></string>
	<key>NSLocationUsageDescription</key>
	<string>You can share your location with other team members in your group chat.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>You can share your location with other team members in your group chat.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Your Microphone is needed to join Voice IP meeting.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You can share photos from your local Photo Library with other team members in your group chat.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.text</string>
			<key>UTTypeDescription</key>
			<string>rich text (RTF)</string>
			<key>UTTypeIdentifier</key>
			<string>public.rtf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>NeXT Rich Text Format v1.0 pasteboard type</string>
					<string>NSRTFPboardType</string>
				</array>
				<key>com.apple.ostype</key>
				<string>RTF </string>
				<key>public.filename-extension</key>
				<string>rtf</string>
				<key>public.mime-type</key>
				<string>text/rtf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.image</string>
			<key>UTTypeDescription</key>
			<string>Portable Network Graphics image</string>
			<key>UTTypeIdentifier</key>
			<string>public.png</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<string>Apple PNG pasteboard type</string>
				<key>com.apple.ostype</key>
				<string>PNGf</string>
				<key>public.filename-extension</key>
				<string>png</string>
				<key>public.mime-type</key>
				<string>image/png</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.image</string>
			<key>UTTypeDescription</key>
			<string>JPEG image</string>
			<key>UTTypeIdentifier</key>
			<string>public.jpeg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>JPEG</string>
				<key>public.filename-extension</key>
				<array>
					<string>jpeg</string>
					<string>jpg</string>
					<string>jpe</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/jpeg</string>
					<string>image/jpg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.image</string>
			<key>UTTypeDescription</key>
			<string>QuickDraw picture</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.pict</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>Apple PICT pasteboard type</string>
					<string>NSPICTPboardType</string>
				</array>
				<key>com.apple.ostype</key>
				<string>PICT</string>
				<key>public.filename-extension</key>
				<array>
					<string>pict</string>
					<string>pct</string>
					<string>pic</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/pict</string>
					<string>image/x-pict</string>
					<string>image/x-macpict</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.image</string>
			<key>UTTypeDescription</key>
			<string>Graphics Interchange Format (GIF)</string>
			<key>UTTypeIdentifier</key>
			<string>com.compuserve.gif</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>GIFf</string>
				<key>public.filename-extension</key>
				<string>gif</string>
				<key>public.mime-type</key>
				<string>image/gif</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.image</string>
			<key>UTTypeDescription</key>
			<string>Windows bitmap image</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.bmp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>BMP </string>
					<string>BMPf</string>
				</array>
				<key>public.filename-extension</key>
				<string>bmp</string>
				<key>public.mime-type</key>
				<string>image/bmp</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.image</string>
			<key>UTTypeDescription</key>
			<string>TIFF image</string>
			<key>UTTypeIdentifier</key>
			<string>public.tiff</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<array>
					<string>NeXT TIFF v4.0 pasteboard type</string>
					<string>NSTIFFPboardType</string>
				</array>
				<key>com.apple.ostype</key>
				<string>TIFF</string>
				<key>public.filename-extension</key>
				<array>
					<string>tiff</string>
					<string>tif</string>
				</array>
				<key>public.mime-type</key>
				<string>image/tiff</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Portable Document Format (PDF)</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<string>Apple PDF pasteboard type</string>
				<key>com.apple.ostype</key>
				<string>PDF </string>
				<key>public.filename-extension</key>
				<string>pdf</string>
				<key>public.mime-type</key>
				<string>application/pdf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.text</string>
			<key>UTTypeDescription</key>
			<string>HTML text</string>
			<key>UTTypeIdentifier</key>
			<string>public.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<string>Apple HTML pasteboard type</string>
				<key>com.apple.ostype</key>
				<string>HTML</string>
				<key>public.filename-extension</key>
				<array>
					<string>html</string>
					<string>htm</string>
					<string>shtml</string>
					<string>shtm</string>
				</array>
				<key>public.mime-type</key>
				<string>text/html</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.presentation</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Keynote document</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.keynote.key</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Keynote Theme</string>
			<key>UTTypeIconName</key>
			<string>KeyTheme</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Keynote.kth</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/keynote/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kth</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.presentation</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Keynote theme</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.keynote.kth</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.oasis-open.opendocument</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Open Document text</string>
			<key>UTTypeIdentifier</key>
			<string>org.oasis-open.opendocument.text</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>odt</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.oasis.opendocument.text</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.presentation</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft PowerPoint 97-2004 presentation</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.powerpoint.ppt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SLD8</string>
				<key>public.filename-extension</key>
				<array>
					<string>ppt</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.ms-powerpoint</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.openxmlformats.openxml</string>
				<string>public.presentation</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Office Open XML slide show</string>
			<key>UTTypeIdentifier</key>
			<string>org.openxmlformats.presentationml.slideshow</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ppsx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.openxmlformats-officedocument.presentationml.slideshow</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.presentation</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft PowerPoint 97 - 2004 slide show</string>
			<key>UTTypeIconFile</key>
			<string>PPSS.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.powerpoint.pps</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PPSS</string>
				<key>public.filename-extension</key>
				<string>pps</string>
				<key>public.mime-type</key>
				<string>application/vnd.ms-powerpoint</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pages document</string>
			<key>UTTypeIconName</key>
			<string>Pages_Doc</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Pages.pages</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/pages/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pages</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pages document</string>
			<key>UTTypeIconName</key>
			<string>Pages_Doc</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Pages.pages</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/pages/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pages</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pages Template</string>
			<key>UTTypeIconName</key>
			<string>Pages_Template</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Pages.template</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/pages/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>template</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Numbers Template</string>
			<key>UTTypeIconName</key>
			<string>NumbersDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Numbers.template</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/numbers/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nmbtemplate</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Numbers document</string>
			<key>UTTypeIconName</key>
			<string>NumbersDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iWork.Numbers.numbers</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.apple.com/iwork/numbers/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>numbers</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft Word 97 - 2004 template</string>
			<key>UTTypeIconFile</key>
			<string>W8TN.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.word.dot</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>W8TN</string>
				<key>public.filename-extension</key>
				<array>
					<string>dot</string>
				</array>
				<key>public.mime-type</key>
				<string>application/msword</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft Word 97 - 2004 document</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.word.doc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>W8BN</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>doc</string>
				</array>
				<key>public.mime-type</key>
				<string>application/msword</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.openxmlformats.openxml</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Office Open XML word processing template</string>
			<key>UTTypeIdentifier</key>
			<string>org.openxmlformats.wordprocessingml.template</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dotx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.openxmlformats-officedocument.wordprocessingml.template</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.openxmlformats.openxml</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Office Open XML word processing document</string>
			<key>UTTypeIdentifier</key>
			<string>org.openxmlformats.wordprocessingml.document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>docx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.openxmlformats-officedocument.wordprocessingml.document</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.data</string>
			<key>UTTypeDescription</key>
			<string>Microsoft Excel template file</string>
			<key>UTTypeIconFile</key>
			<string>XLS8.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.excel.xlt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>sLS8</string>
				<key>public.filename-extension</key>
				<string>xlt</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.openxmlformats.openxml</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Office Open XML spreadsheet template</string>
			<key>UTTypeIdentifier</key>
			<string>org.openxmlformats.spreadsheetml.template</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xltx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.openxmlformats-officedocument.spreadsheetml.template</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Microsoft Excel 97-2004 Worksheet</string>
			<key>UTTypeIconFile</key>
			<string>XLS8.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.excel.xls</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>XLS8</string>
				<key>public.filename-extension</key>
				<array>
					<string>xls</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.openxmlformats.openxml</string>
				<string>public.presentation</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Office Open XML presentation</string>
			<key>UTTypeIdentifier</key>
			<string>org.openxmlformats.presentationml.presentation</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pptx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.openxmlformats-officedocument.presentationml.presentation</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.9squareworkshop.docas</string>
			</array>
			<key>UTTypeDescription</key>
			<string>9squareworkshop Docas File Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.9squareworkshop.docas</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<string>9squareworkshop Docas File Format</string>
				<key>com.apple.ostype</key>
				<string>DOCAS</string>
				<key>public.filename-extension</key>
				<string>docas</string>
				<key>public.mime-type</key>
				<string>application/docas</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.quicktime-movie</string>
				<string>com.apple.protected-mpeg-4-audio</string>
				<string>public.mpeg</string>
				<string>public.mpeg-4</string>
				<string>public.mp3</string>
				<string>public.mpeg-4-audio</string>
				<string>public.audio</string>
				<string>public.video</string>
				<string>public.movie</string>
				<string>public.audiovisual-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>medie file</string>
			<key>UTTypeIdentifier</key>
			<string>media video</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.chemdraw.file</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Chemdraw File Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.chemdraw.file</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>Chemdraw File Format</string>
				<key>public.filename-extension</key>
				<array>
					<string>CDX</string>
					<string>CDXml</string>
					<string>dxf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/CDX</string>
					<string>application/CDXml</string>
					<string>application/dxf</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
